body {
  background-image: url("../assets/math.png");
}

.contenedor {
  display: flex;
  width: 50%;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
  flex-direction: column;
  gap: 30px;
  color: #37ff00;
  background: transparent;
}

.contenedor .item {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  input {
    width: 20rem;
    align-self: center;
    border-radius: 10px;
    height: 45px;
    background-color: rgba(71, 70, 70, 0.673);
    font-weight: bolder;
    color: #37ff00;
    font-size: x-large;
  }
}

label {
  display: block;
  margin-bottom: 5px;
  color: #37ff00;
  border-radius: 10px;
  font-size: larger;
  text-align: left;
}

button {
  padding: 10px 20px;
  background-color: #9de64ee6;
  color: #000000;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: larger;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

button:hover {
  background-color: rgb(255, 255, 0);
}

#resultado {
  margin-top: 20px;
  font-size: x-large;
  /* color: rgb(255, 255, 0); */
  color:white;
  text-align: start;
  align-self: center;
  font-weight: bolder;
}

.tag {
  font-weight: bolder;
  color: rgb(255, 255, 0);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: x-large;
}

h1 {
  font-size: 3rem;
}
