body {
  background-image: url("../assets/math.png");
}

.contenedor {
  display: flex;
  width: 50%;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
  flex-direction: column;
  gap: 30px;
  color: #37ff00;
  background: transparent;
}

.contenedor .item {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  input {
    width: 20rem;
    align-self: center;
  }
}

label {
  display: block;
  margin-bottom: 5px;
  color: #37ff00;
  border-radius: 10px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  width: 30%;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 45px;
  width: 100px;
  background-color: rgba(71, 70, 70, 0.673);
  font-weight: bolder;
  color: #37ff00;
  font-size: xx-large;
}

button {
  padding: 10px 20px;
  background-color: #9de64ee6;
  color: #000000;
  border-radius: 20%;
  cursor: pointer;
  height: 50px;
  width: 130px;
  font-weight: bolder;
  font-size: larger;
  align-self: center;
}

button:hover {
  background-color: rgb(255, 255, 0);
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  font-size: x-large;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-size: x-large;
}
